<%= turbo_frame_tag "user_#{user.id}" do %>
    <tr class="border-b border-slate-100/30 hover:bg-slate-800/20">
      <td class="py-3 border-r border-slate-100/30 text-right pr-4"><%= user.id %></td>
      <td class="px-2 py-3 border-r border-slate-100/30"><%= user.email %></td>
      <td class="px-2 py-3 border-r border-slate-100/30"><%= user.tenants.compact.map(&:name).join(", ") %></td>
      <td class="px-2 py-3 border-r border-slate-100/30">
        <%= badge_invite_status(user) %>
      </td>
      <td class="px-2 py-3 border-r border-slate-100/30"><%= user.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>
  <% end %>
