<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Holy Desk" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-slate-700 bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] h-screen">
    <% if user_signed_in? %>
      <main class="flex w-full h-full">
        <aside class="w-72 bg-slate-50/50">
          <%= render "layouts/sidebar" %>
        </aside>
        <section class="grow p-4">
          <%= yield %>
        </section>
      </main>
    <% else %>
      <main class="flex w-full h-full items-center justify-center">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
