<% if local_assigns[:in_stream] %>
  <tr class="border-b border-slate-100/30 hover:bg-slate-800/20">
    <td class="py-3 border-r border-slate-100/30 text-right pr-4"><%= member.id %></td>
    <td class="px-2 py-3 border-r border-slate-100/30"><%= member.email %></td>
    <td class="px-2 py-3 border-r border-slate-100/30"><%= member.name %></td>
  </tr>
<% else %>
  <%= turbo_frame_tag "member_#{member.id}" do %>
    <tr class="border-b border-slate-100/30 hover:bg-slate-800/20">
      <td class="py-3 border-r border-slate-100/30 text-right pr-4"><%= member.id %></td>
      <td class="px-2 py-3 border-r border-slate-100/30"><%= member.email %></td>
      <td class="px-2 py-3 border-r border-slate-100/30"><%= member.name %></td>
    </tr>
  <% end %>
<% end %>
