<% content_for :title, "Members" %>
<section class="w-full h-full">
  <header class="w-full flex items-center justify-between border-b border-slate-800/20 mb-2 pb-2">
    <div>
      <h1 class="text-xl font-bold leading-2.5">Members</h1>
      <small class="text-slate-600 leading-0">See all members.</small>
    </div>
    <div class="flex items-center gap-4 text-sm">
      <%= render partial: "devise/shared/logout" %>
    </div>
  </header>

  <div class="flex items-center justify-between mt-4">
    <div></div>
    <div>
      <%= form_tag invite_members_path, method: :get, class: "flex items-center gap-2" do %>
        <%= email_field_tag :email, nil, placeholder: "Email", class: "input bg-slate-50/20" %>
        <%= submit_tag "Invite a member", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div id="users" class="mt-4">
    <table class="w-full bg-slate-50/10 rounded-lg overflow-hidden text-sm">
      <thead class="bg-slate-50/20">
        <tr>
          <th class="w-32 px-2 py-3 border-r border-slate-400/50">ID</th>
          <th class="px-2 py-3 border-r border-slate-400/50 text-left">User</th>
          <th class="px-2 py-3 text-left">Tenant</th>
        </tr>
      </thead>
      <tbody id="members-list">
        <% @members.each do |member| %>
          <%= render member %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
